.flex-box{
  display: flex;
}

.first-section{
  background-color: lightblue;
  width: 50px;
}

.second-section{
  background: lightpink;
  flex: 1;
}

.third-section{
  background-color: lightblue;
  width: 75px;
}