.flex-box{
  display: flex;
  height: 50px;
  flex-direction: row;
}

.first-column{
  background-color:lightpink ;
  width: 100px;

}



.second-column{
  background-color: lightblue;
  width: 200px;

}

.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item{
  background-color: black;
  color: white;
}