div{
  font-family: arial;
}

.container{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.label{
  display: block;
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

.mail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-picture{
  display: block;
}

.profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.mail-content{
  display: block;
  margin-left: 10px;
  flex: 1;
}

.mail-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sender{
  display: block;
  font-size: 18px;
}

.time{
  display: block;
  font-size: 14px;
  color: grey;
}

.subject{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.message{
  display: block;
  color: grey;
}