  p{
    text-align: center;
    font-family: montserrat;
    margin-top: 0;
    margin-bottom: 0;

    
  }

.headline{
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 10px;
}

.underlined{
  text-decoration: underline;
}
