img{
  width: 100px;
  display: block;
  margin-left: 225px;
  margin-bottom: 0px;
}

.google{
  box-shadow: 0px 0px 2px grey;
  border: none;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 100px;
  font-size: 5px;
  margin-left: 190px;
  margin-top: 0px;

}