div{
  width: 70px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 2px;
}


img{
  width: 70px;
  height: 70px;
  object-position: right;
  object-fit: cover;
  margin-bottom: 0px;
  border-radius: 2px;
}

.name{
  font-family: arial;
  margin-top: 0px;
  font-size: 8px;
  margin-left: 3px;
  font-weight: bold;
  margin-bottom: 2px;
}

.friends{
  font-size: 7px;
  margin-left: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: grey;
}

button{
  background-color: rgb(85, 85, 253);
  color: white;
  border: none;
  width: 47px;
  height: 15px;
  font-size: 5px;
  margin-left: 3px;
  margin-top: 0px;
  border-radius: 2px;
  margin-bottom: 3px;
}